<h2>Inserir alunos</h2>

Escolha uma turma aberta:

<%#= select_tag "people", "<option>David</option>" %>

<%= form_tag '/class_gym/add_student_first_step' do %>

  <%= select("class_gym", "id", ClassGym.all.collect {|p| [ p.schedule, p.id ] }, {include_blank: '-- Selecione uma turma --'}, {class: "span4", onchange: "atualizaForm()", id:"idTypeEmployee"}) %>


<% end %>
