<% if @class_gym.errors.any? %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert">
			×
		</button>
		<% @class_gym.errors.full_messages.each do |msg| %>
		<%= msg %>
		<% end %>
	</div>
<% end %>

<div class="header">
	Turmas
	<hr class="hr-header">
	<div class="subheader">
		Cadastrar
	</div>
</div>

<%= render 'form' %>