<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physical_category.name %>
</p>

<%= link_to 'Edit', edit_physical_category_path(@physical_category) %> |
<%= link_to 'Back', physical_categories_path %>
