<br>

<fieldset>
  <% if @enrollment.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @enrollment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= form_for(@enrollment, :html => { :class => :form }) do |f| %>
  
    <%= yield f %>
  
  <% end %>
  
