<h1>Editar Aluno</h1>
            
<%= form_for [@payment], :url => payment_path(@payment), :html => { :class => :form, :id => "edit_payment" } do |f| -%>
<input name="_method" type="hidden" value="put" />
<%= render :partial => "form", :locals => {:f => f} %>
<% end -%>        
