<h1>Pagamento</h1>

<table>
  <tbody>
    <tr>
      <td><strong>Dia do pagamento:</strong> <%= l(@payment.pay_day, :format => :date) %></td>
    </tr>
    <tr>
      <td><strong>Código:</strong> <%= @payment.individual.code + " - " + @payment.individual.name %></td>
    </tr>
  </tbody>
</table>
