/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

//redefine o icones de seta no menu lateral
.active > a > .fa.arrowMenu:before {
    content: "\f13a";
}

//redefine a cor de fundo da area 
#page-wrapper {
	background-color: #FDFDFD;
}

//redefine para cor mais escura a linha da tabela quando status:hover
.table-hover.dark > tbody > tr:hover > td,
.table-hover.dark > tbody > tr:hover > th {
  background-color: #EAEAEA;
}

.table.table40{
  width: 40%;
}

// .table.text-center > thead > tr > th{
  // text-align: center;
// }

.text-center > thead > tr > th{
  text-align: center;
}
