<h1> Relatórios </h1>

<ul>
	<li> <%= link_to "Alunos Mensais", reports_monthly_students_path %> </li>
	<li> <%= link_to "Alunos Anuais", reports_yearly_students_path %> </li>
	<li> <%= link_to "Alunos Diários", reports_hourly_students_path %> </li>
</ul>
